<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369149550476-v8jfhmhdstgrsaldh4hdn98q3ncc9bj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369149550476-v8jfhmhdstgrsaldh4hdn98q3ncc9bj8</string>
	<key>API_KEY</key>
	<string>AIzaSyCfp2iLtRNH27v6Zo_uCnYexKQi_VWmU-o</string>
	<key>GCM_SENDER_ID</key>
	<string>369149550476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talal.Final-Project</string>
	<key>PROJECT_ID</key>
	<string>garages-3262a</string>
	<key>STORAGE_BUCKET</key>
	<string>garages-3262a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369149550476:ios:4731ab5d266076524800a9</string>
</dict>
</plist>